In [45]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [46]:
f = "conditions.csv"
df = pd.read_csv(f, sep='|')
df.head()

   CONDITION_ID       NCT_ID                    CONDITION
0           150  NCT00000262  Substance-Related Disorders
1           151  NCT00000263     Opioid-Related Disorders
2           152  NCT00000263  Substance-Related Disorders
3           153  NCT00000264     Opioid-Related Disorders
4           154  NCT00000264  Substance-Related Disorders

In [47]:
df = df.drop(columns=["CONDITION_ID"])
df.head()

        NCT_ID                    CONDITION
0  NCT00000262  Substance-Related Disorders
1  NCT00000263     Opioid-Related Disorders
2  NCT00000263  Substance-Related Disorders
3  NCT00000264     Opioid-Related Disorders
4  NCT00000264  Substance-Related Disorders

In [48]:
f = "location_countries.csv"
df_c = pd.read_csv(f, sep='|')
df_c.head()

   LOCATION_COUNTRIES_ID        COUNTRY       NCT_ID
0                     22  United States  NCT00000329
1                     23  United States  NCT00000330
2                     24  United States  NCT00000331
3                     25  United States  NCT00000332
4                     26  United States  NCT00000333

In [49]:
# Get unique conditions
df.CONDITION.unique()

array(['Substance-Related Disorders', 'Opioid-Related Disorders',
       'Cocaine-Related Disorders', ..., 'Isthmic Spondylolisthesis',
       'Recurrent Hernia of Anterior Abdominal Wall',
       'Burden of Surgical Disease in Western Kenya'], dtype=object)

In [50]:
filt = df.CONDITION != "Healthy"
df_sick = df[filt]

In [51]:
# Get unique countries, slice first 5
df_c.COUNTRY.unique()[:5]

array(['United States', 'Puerto Rico', 'Tanzania', 'Bahamas', 'France'],
      dtype=object)

In [52]:
# Count frequencies of conditions
df_cond_freq = df.groupby('CONDITION').count()
df_cond_freq.tail()

                                                    NCT_ID
CONDITION
β-thalassemia                                            1
β-thalassemia Major                                      3
λz,                                                      1
• To Collect Real World Clinical Outcomes Data ...       1
•Non-alcoholic Steatohepatitis (NASH)                    1

In [53]:
# Count frequencies of countries
df_c_freq = df_c.groupby('COUNTRY').count()
df_c_freq.tail()

                       LOCATION_COUNTRIES_ID  NCT_ID
COUNTRY
Vietnam                                  265     265
Virgin Islands (U.S.)                      6       6
Yemen                                      2       2
Zambia                                   128     128
Zimbabwe                                  76      76

In [54]:
# Get most common countries, with over one thousand cases in terms of either CONDITION_ID or NCT_ID
c_freq_filt = df_c_freq.NCT_ID > 10_000
df_c_most_freq = df_c_freq[c_freq_filt]
df_c_most_freq = df_c_most_freq.sort_values(['NCT_ID'])
df_c_most_freq

                LOCATION_COUNTRIES_ID  NCT_ID
COUNTRY
United Kingdom                  11720   11720
France                          13940   13940
Germany                         14134   14134
Canada                          15069   15069
United States                   91730   91730

In [68]:
df_combined = df_sick.merge(df_c)
# df_combined = df_combined.groupby(['COUNTRY', 'CONDITION']).size()
# df_combined = df_combined.groupby(['COUNTRY', 'CONDITION']).size().groupby(level=0).max()
# df_combined = df_combined.groupby(['COUNTRY', 'CONDITION']).size().reset_index().groupby('COUNTRY')[[0]].max()

df_combined.head()

,NCT_ID,CONDITION,LOCATION_COUNTRIES_ID,COUNTRY
0,NCT00000262,Substance-Related Disorders,94,United States
1,NCT00000262,Opioid-Related Disorders,94,United States
2,NCT00000263,Opioid-Related Disorders,95,United States
3,NCT00000263,Substance-Related Disorders,95,United States
4,NCT00000264,Opioid-Related Disorders,96,United States

In [69]:
# Count frequencies of conditions
df_cond_freq = df_combined.groupby('CONDITION').count()
df_cond_freq

,CONDITION_ID,NCT_ID,LOCATION_COUNTRIES_ID,COUNTRY
CONDITION,,,,
'Appetite Regulation',1,1,1,1
'Grey Zone' Lymphoma,1,1,1,1
'In Situ Simulation',1,1,1,1
(Advanced) Coronary Heart Disease,1,1,1,1
(Atrial Fibrillation) or (Atrial Flutter),1,1,1,1
...,...,...,...,...
β-Thalassemia Intermedia,1,1,1,1
β-thalassemia,1,1,1,1
β-thalassemia Major,3,3,3,3
"λz,",1,1,1,1
•Non-alcoholic Steatohepatitis (NASH),1,1,1,1

In [27]:
# Get most common conditions, with over one thousand cases in terms of either CONDITION_ID or NCT_ID
number_of_cases = 1_000
cond_freq_filt = (df_cond_freq.NCT_ID > number_of_cases)  # (df_cond_freq.CONDITION_ID > number_of_cases) | (df_cond_freq.NCT_ID > number_of_cases)
df_most_freq = df_cond_freq[cond_freq_filt]
df_most_freq = df_most_freq.sort_values(['CONDITION_ID'])
df_most_freq

                           CONDITION_ID  NCT_ID
CONDITION
Atrial Fibrillation                1010    1010
HIV                                1056    1056
Diabetes Mellitus                  1098    1098
Multiple Myeloma                   1146    1146
Type 2 Diabetes Mellitus           1163    1163
Type 2 Diabetes                    1212    1212
Cardiovascular Diseases            1264    1264
Heart Failure                      1365    1365
Rheumatoid Arthritis               1431    1431
Stroke                             1441    1441
Leukemia                           1460    1460
Lymphoma                           1479    1479
Colorectal Cancer                  1490    1490
Cancer                             1496    1496
Diabetes Mellitus, Type 2          1519    1519
Lung Cancer                        1565    1565
Coronary Artery Disease            1776    1776
Diabetes                           1805    1805
Depression                         1815    1815
Schizophrenia                      1818    1818
Pain                               2031    2031
Prostate Cancer                    2142    2142
Asthma                             2259    2259
Hypertension                       2400    2400
HIV Infections                     2993    2993
Obesity                            3449    3449
Breast Cancer                      4059    4059
Healthy                            5634    5634

In [26]:
# Show the most common conditions
plt.figure(figsize=(16, 6))
ax = sns.barplot(data=df_most_freq.reset_index(),
                 x="CONDITION",
                 y="NCT_ID",  # "CONDITION_ID"
                )
ax.axes.set_title("AACT project - most common conditions 2020", fontsize=25)
l = ax.set_xticklabels(ax.get_xticklabels(), rotation=75, fontsize=15)
ax.set_xlabel("Condition", fontsize=20)
ax.set_ylabel("counts", fontsize=20)
plt.tight_layout()
plt.savefig('most_common_conditions.png')

NameError: name 'df_most_freq' is not defined

In [64]:
# Get unique conditions
df_combined.COUNTRY.unique()

array(['United States', 'Canada', 'Sweden', 'Puerto Rico', 'Tanzania',
       'Bahamas', 'France', 'Italy', 'Spain', 'Thailand', 'Switzerland',
       'United Kingdom', 'Australia', 'Denmark', 'Germany', 'Argentina',
       'Belgium', 'Netherlands', 'Brazil', 'Russian Federation', 'Turkey',
       'Finland', 'Pakistan', 'Iceland', 'Peru', 'Austria', 'Greece',
       'Norway', 'Portugal', 'South Africa', 'Hungary', 'Ireland',
       'Israel', 'Luxembourg', 'Poland', 'Croatia', 'Czech Republic',
       'New Zealand', 'Serbia', 'Hong Kong', 'Korea, Republic of',
       'Chile', 'Colombia', 'Egypt', 'Former Yugoslavia', 'Tunisia',
       'Japan', 'Lithuania', 'Macedonia, The Former Yugoslav Republic of',
       'Morocco', 'Philippines', 'Slovenia', 'Slovakia', 'Bulgaria',
       'Estonia', 'Singapore', 'Malaysia', 'Taiwan',
       'Bosnia and Herzegovina', 'Romania', 'Indonesia',
       'United Arab Emirates', 'Latvia', 'Uganda', 'Mexico', 'Cyprus',
       'China', 'Haiti', 'Trinidad and Tobago', 'Monaco', 'Honduras',
       'Panama', 'Venezuela', 'Dominican Republic', 'Ethiopia',
       'Guatemala', 'Barbados', 'Malta', 'Costa Rica', 'India',
       'Saudi Arabia', 'Nigeria', 'Lebanon', 'Uruguay', 'Martinique',
       'Ukraine', 'Mali', 'Ecuador', 'Myanmar', 'Vietnam', 'Bangladesh',
       'Belarus', 'Botswana', 'Madagascar',
       'Former Serbia and Montenegro', 'Malawi', 'Zimbabwe', 'Jamaica',
       'Kenya', 'Zambia', 'Gambia', 'Georgia', 'Sri Lanka', 'Mauritius',
       'Cambodia', 'Bermuda', 'Ghana', 'Jordan', 'Senegal',
       'Moldova, Republic of', 'Nepal', 'Burkina Faso', 'Nicaragua',
       'Bolivia', 'El Salvador', 'Rwanda', 'Guinea-Bissau', 'Congo',
       'The Democratic Republic of the Congo', 'Algeria', 'Kazakhstan',
       'Benin', 'Cameroon', 'Papua New Guinea', 'Fiji', 'American Samoa',
       "Côte D'Ivoire", 'Central African Republic', 'Mozambique',
       'Guinea', 'Swaziland', 'Kuwait', 'Oman', 'Syrian Arab Republic',
       'Gabon', 'Montenegro', 'Qatar', 'Togo', 'Sudan',
       'Iran, Islamic Republic of', 'Paraguay', 'Sierra Leone',
       'Guadeloupe', 'Réunion', 'Andorra', 'Virgin Islands (U.S.)',
       'Armenia', 'Azerbaijan', 'Albania',
       'Congo, The Democratic Republic of the', 'Mauritania', 'Niger',
       'Bahrain', 'Iraq', 'Cuba', 'Afghanistan', 'Netherlands Antilles',
       'Northern Mariana Islands', 'Grenada', 'Belize', 'Liberia',
       'Libyan Arab Jamahiriya', 'New Caledonia', 'Angola', 'Mongolia',
       'Saint Kitts and Nevis', "Lao People's Democratic Republic",
       'Solomon Islands', 'Yemen', 'Kyrgyzstan', 'Chad', 'Burundi',
       'French Polynesia', 'Brunei Darussalam', 'Uzbekistan', 'Lesotho',
       'Montserrat', 'Djibouti', 'Guyana', 'Kosovo', 'Bhutan',
       'Palestinian Territories, Occupied', 'Suriname', 'Vanuatu',
       'Gibraltar', 'Holy See (Vatican City State)', 'Seychelles',
       'Cayman Islands', 'Greenland', 'Equatorial Guinea', 'Saint Lucia',
       'Namibia', 'Aruba'], dtype=object)

In [ ]:
# Show the most common conditions
plt.figure(figsize=(16, 6))
ax = sns.barplot(data=df_combined.reset_index(),
                 x="CONDITION",
                 y="CONDITION_ID",
                 hue="COUNTRY"
                )
ax.axes.set_title("AACT project - most common conditions 2020", fontsize=25)
l = ax.set_xticklabels(ax.get_xticklabels(), rotation=75, fontsize=15)
ax.set_xlabel("Condition", fontsize=20)
ax.set_ylabel("counts", fontsize=20)
plt.tight_layout()
# plt.savefig('most_common_conditions.png')